/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal.active {
    display: flex;
}

#search-results-container {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc; /* Opcional: para darle un borde al contenedor */
    padding: 5px; /* Opcional: agregar espacio interno */
}

.result-item {
    padding: 8px;
    cursor: pointer;
}

.result-item:hover {
    background-color: #f0f0f0; /* Resaltar al pasar el ratón */
}


.mapm-content {
    background-color: white;
        
    border-radius: 8px;
    width: 600px;
    text-align: center;
}

.close-btn {
    cursor: pointer;
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.close-btn:hover {
    background-color: #c82333;
}

/* Estilos para el mapa */
#map {
    width: 100%;
    height: 300px; /* Puedes ajustar la altura según necesites */
}


.file-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #007bff;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 20px;
    cursor: pointer;
}

.file-upload .file-upload-icon {
    font-size: 48px;
    color: #007bff;
}

.file-upload .file-upload-text {
    margin-left: 15px;
    font-size: 16px;
    color: #007bff;
}

.file-upload input[type="file"] {
    display: none;
}

.btn-round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
    font-size: 24px;
    text-align: center;
    line-height: 36px;
}
